body{
    margin: 0px;
}

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.horizotal-List{
    list-style: none;
    padding: 0px;
    font-size: 20px;
    font-weight: 500;
}

.horizotal-List li{
    display: inline-block;
    margin: 2px 15px 15px 0px;
}
.text-center{
    text-align: center;
}
.horizotal-List li a{
    color: azure;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}
.horizotal-List a:hover{    
    color:aqua;
    border-bottom: 3px solid aqua;

}


